<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "general/header"}}
  </head>
  <body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-10 rounded-lg shadow-lg text-center w-80">
      <h1 class="text-3xl font-bold mb-6">Welcome to Kanban App</h1>
      <p class="mb-4 text-gray-600">
        Your personal project management tool to keep track of tasks and
        collaborate effectively.
      </p>
      <div class="mt-6">
        <a
          href="/login"
          class="block bg-blue-500 text-white font-semibold py-2 rounded hover:bg-blue-600 mb-3 transition duration-200"
          >Login</a
        >
        <a
          href="/register"
          class="block text-blue-500 font-semibold py-2 rounded hover:bg-blue-50 transition duration-200"
          >Register</a
        >
      </div>
    </div>
  </body>
</html>
